### REQUIRED VARIABLES
WORKSPACE_NAME=<YOUR WORKSPACE NAME>
RESOURCE_GROUP=<YOUR RESOURCE GROUP NAME>
SUBSCRIPTION_ID=<YOUR SUBSCRIPTION ID>
TENANT_ID=<YOUR TENANT ID>
AZUREML_DATASTORE=<YOUR AZUREML DATASTORE>
STORAGE_ACCOUNT=<YOUR STORAGE ACCOUNT>